@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus,
[type='checkbox']:focus,
[type='radio']:focus {
  outline: none;
  box-shadow: none;
}

span svg {
  display: inline-block;
}

.trade-select > div,
.market-select > div {
  border: none;
}

.trade-select > div:first-child > div:first-child > div,
.market-select > div:first-child > div:first-child > div {
  color: #9ca3af;
}

.market-select > div,
.market-select > div > div:first-child {
  min-height: initial !important;
}

/* Change Autocomplete styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
}
/* Target safari browser */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    @media (min-width: 768px) {
      .sticky-safari {
        top: 0rem;
      }
    }
  }
}

/* CSS for NavMenu */
.dropdown:focus-within .dropdown-menu {
  background-color: #ffffff;
  transform: translate(0) scale(1);
  visibility: visible;
}
.dropdown-menu::before {
  border-bottom: 9px solid rgba(0, 0, 0, 0.2);
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: '';
  display: inline-block;
  left: 16px;
  position: absolute;
  top: -8px;
}
.dropdown-menu::after {
  border-bottom: 8px solid #ffffff;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: '';
  display: inline-block;
  left: 16px;
  position: absolute;
  top: -7px;
}

#wiki-iframe {
  width: 100%;
  height: 800px;
}
